body {
  height: 3000px;
}

.close-button {
  position: absolute;
  background-color: black;
  color: white;
  font-family: Arial;
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 15px;
  right: 15px;
  cursor: pointer;
}