body {
  height: 3000px;
}

.square {
  width: 320px;
  height: 180px;
  background-color: gray;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.close-button {
  position: absolute;
  background-color: black;
  color: white;
  font-family: Arial;
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -20px;
  left: -20px;
  cursor: pointer;
}

.video-time {
  background-color: black;
  color: white;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-family: Arial;
  font-size: 20px;
  font-weight: 500;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
}