body {
  height: 3000px;
}

.product-container {
  position: relative;
  display: inline-block;
}

.product-image {
  height: 500px;
  width: 500px;
  object-fit: cover;
}

.sale {
  position: absolute;
  background-color: black;
  color: white;
  font-family: Arial;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  top: 10px;
  right: 7px;
}

.bottom-overlay {
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 135px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-to-cart-button {
  background-color: white;
  border-style: solid;
  border-color: black;
  font-family: Arial;
  border-width: 1px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  font-size: 16px;
  cursor: pointer;
}

