.search-box {
  font-size: 16px;
  width: 500px;
  padding-top: 10px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 10px;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.google-logo {
  width: 200px;
  margin-left: 150px;
  margin-bottom: 10px;
  display: block;
}