input {
  margin-bottom: 10px;
  border: solid;
  border-width: 1px;
  border-color: rgb(200, 200, 200);
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 8px;
}

.first-name-box {
  width: 150px;
}

.email-box {
  display: block;
  width: 338px;
}

.sign-up-button {
  background-color: rgb(47, 127, 231);
  color: white;
  border: none;
  font-size: 20px;
  font-family: Arial;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  padding-right: 150px;
  padding-bottom: 10px;
  padding-left: 150px;
  border-radius: 8px;
  cursor: pointer;
}