.title {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Arial;
  font-size: 40px;
}

input {
  display: block;
  margin-bottom: 5px;
  font-family: Arial;
  background-color: rgb(240, 240, 240);
  border: none;
  padding-top: 10px;
  padding-right: 16px;
  padding-bottom: 10px;
  padding-left: 16px;
  width: 400px;
}

.request-now-button {
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    cursor: pointer;
    border: none;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 16px;
}

.schedule-for-later-button {
    background-color: rgb(240, 240, 240);
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    cursor: pointer;
    border: none;
    font-size: 16px;
}