div {
  font-family: Arial;
  font-size: 16px;
}

.container {
  border-color: rgb(200, 200, 200);
  border-style: solid;
  border-width: 1px;
  width: 300px;
  border-radius: 5px;
}

.flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.notifications {
  background-color: rgb(49, 109, 245);
  border: none;
  color: white;
  padding-top: 5px;
  padding-right: 12px;
  padding-bottom: 5px;
  padding-left: 12px;
  border-radius: 15px;
  font-weight: bold;
}