.flexbox {
  display: flex;
  justify-content: space-between; 
  flex-direction: row;
  align-items: center;
  background-color: rgb(120, 82, 178);
  font-family: Arial;
  padding-top: 15px;
  padding-right: 10px;
  padding-bottom: 15px;
  padding-left: 10px;
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.search-bar {
  width: 500px;
  border: none;
  border-radius: 20px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.download-button {
  background-color: rgb(120, 82, 178);
  color: white;
  border-style: solid;
  border-color: white;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  border-radius: 2px;
  cursor: pointer
}
