p {
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 0;
}

.flexbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.profile-picture {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50px;
  margin-right: 15px;
}

.information {
  width: 200px;
}

.name {
  font-weight: bold;
  margin-bottom: 5px;
}

.description {
  color: rgb(150, 150, 150);
  margin-bottom: 5px;
}

.status {
  color: rgb(150, 150, 150);
  font-size: 14px;
}

.follow-button {
  background-color: rgb(29, 155, 240);
  color: white;
  border: none;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}