.sidebar {
  background-color: black;
  display: flex;
  position: fixed;
  flex-direction: column;
  top: 0;
  bottom: 0;
  left: 0;
  width: 175px;
  border-right: solid 2px rgb(62, 65, 68);
  align-items: end;
  z-index: 100;
  transition: width 0.5s ease;
}

.sidebar-icon-title {
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-left: 15px;
  margin-bottom: -3px;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.sidebar-icon-container {
  display: flex;
  background-color: black;
  border: none;
  height: 40px;
  width: 40px;
  position: relative;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  margin-right: 10px;
  transition: background-color 0.15s;
  transition: width, padding, margin-bottom 0.5s ease;
  margin-bottom: 15px;
}

.sidebar-middle-section {
  margin-top: 5px;
  margin-right: 12.5px;
  position: relative;
  transition: margin-right, width 0.5s ease;
}

.sidebar-bottom-section {
  margin-top: 20px;
  position: relative;
  transition: margin-right 0.5s ease;
}

.accounts-button {
  background-color: black;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  position: relative;
  padding: 15px 15px;
  border-radius: 50px;
  width: 75px;
  height: 75px;
  transition: width, justify-content 0.5s ease;
}

.account-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  padding: 10px 10px 10px 0;
  position: absolute;
  opacity: 0;
  transition: opacity, margin-left 0.5s ease;
}

.account-name {
  color: white;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}

.account-tag {
  font-size: 14px;
  color: rgb(113, 118, 123);
}

.accounts-button-more-icon-container {
  width: 25px; 
  height: 25px;
  margin-left: 110px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.accounts-button-more-icon {
  width: 20px; 
  height: 20px;
  object-fit: cover;
  margin-left: 110px;
}

.sidebar-post-button {
  background-color: white;
  border: none;
  padding: 12.5px 12.5px;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease;
}

.sidebar-post-button2 {
  position: absolute;
  background-color: white;
  border: none;
  padding: 15px 80px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  opacity: 0;
}

.sidebar-icon-container:hover .sidebar-tooltip,
.sidebar-post-button:hover .sidebar-tooltip,
.accounts-button:hover .sidebar-accounts-button-tooltip {
  opacity: 1;
}

@media (min-width: 900px) {
  .sidebar {
    width: 200px;
  }
}

@media (min-width: 1020px) {
  .sidebar {
    width: 75px;
  }
}

@media (min-width: 1200px) {
  .sidebar {
    width: 100px;
  }
}

@media (min-width: 1350px) {
  .sidebar {
    width: 240px;
    align-items: end;
  }

  .sidebar-icon-title {
    opacity: 1;
  }

  .sidebar-icon-container {
    width: 200px;
    padding: 25px;
    margin-bottom: 10px;
  }

  .sidebar-middle-section {
    margin-right: 30px;
    width: 180px;
  }

  .accounts-button {
    width: 220px;
    justify-content: space-between;
  }

  .sidebar-bottom-section {
    margin-right: 0px;
  }

  .account-info {
    opacity: 1;
    margin-left: 50px;
  }

  .sidebar-post-button {
    opacity: 0;
  }

  .sidebar-post-button2,
  .accounts-button-more-icon-container {
    opacity: 1;
  }

  .sidebar-icon-container:hover .sidebar-tooltip,
  .sidebar-post-button:hover .sidebar-tooltip,
  .accounts-button:hover .sidebar-accounts-button-tooltip {
  opacity: 0;
  }
}

@media (max-width: 1349.99px) {
  .sidebar-icon-title {
    position: absolute;
  }
}


@media (min-width: 1500px) {
  .sidebar {
    width: 350px;
  }
}

@media (min-width: 1650px) {
  .sidebar {
    width: 450px;
  }
}

@media (min-width: 1750px) {
  .sidebar {
    width: 550px;
  }
}

@media (min-width: 1900px) {
  .sidebar {
    width: 650px;
  }
}

.sidebar-top-section {
  margin-right: 10px;
  margin-top: 10px;
}

.sidebar-tooltip,
.sidebar-tooltip-post,
.sidebar-accounts-button-tooltip {
  position: absolute;
  display: flex;
  background-color: rgba(134, 157, 179, 0.5);
  color: white;
  font-size: 10px;
  font-weight: bold;
  padding: 5px 5px;
  border-radius: 2px;
  z-index: 300;
  opacity: 0;
  transition-delay: 0.5s;
  pointer-events: none;
  white-space: nowrap;
}

.sidebar-tooltip {
  bottom: -25px;
}

.sidebar-accounts-button-tooltip {
  top: -15px;
}

.sidebar-icon-container:hover,
.sidebar-top-icon-container:hover,
.accounts-button:hover {
  background-color: rgb(25, 25, 25);
}

.sidebar-icon {
  height: 25px;
}

.sidebar-top-icon {
  height: 30px;
}

.accounts-button-icon {
  border-radius: 50px;
  height: 45px;
}