body {
  height: 3000px;
}

div {
  font-family: Arial;
}

.facebook-header {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-right: 50px;
  padding-bottom: 10px;
  padding-left: 50px;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.picture {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 25px;
  margin-right: 10px;
}

.username {
  font-weight: bold;
  font-size: 20px;
}

.add-friend-button {
  background-color: rgb(24, 119, 242);
  color: white;
  border: none;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
  font-weight: bold;
  border-radius: 8px;
  margin-right: 5px;
  cursor: pointer;
}

.message-button {
  background-color: rgb(230, 230, 230);
  border: none;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}

