div {
  font-family: Arial;
}

.sidebars {
  display: flex;
}

.users-sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(33, 33, 33);
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.pictures {
  display: flex;
}

.profile-picture {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 25px;
  margin-bottom: 5px;
}

.channels-sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 70px;
  background-color: rgb(55, 55, 55);
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.channels-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  margin-bottom: 10px;
}

.info {
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.add-more-icon {
  color: rgb(150, 150, 150);
  font-size: 25px;
  padding-right: 10px;
}

.channels {
  display: flex;
  flex-direction: column;
}

.channel {
  color: rgb(150, 150, 150);
  margin-bottom: 16px;
}