p {
  font-family: Montserrat;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

.title {
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 10px;
}

.order {
  font-size: 24px;
}

.delivery {
  text-decoration: underline;
}