 /*Exercise 6c*/ p {
    font-family: Arial;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .sub-title {
    color: red;
    font-style: italic;
    font-size: 20px;
  }