 /*Exercise 6c*/ p {
    font-family: Verdana;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
  }

  .sub-title {
    color: rgb(96, 96, 96);
    font-size: 17.5px;
    margin-bottom: 25px;
  }

  .body {
    width: 300px;
    margin-bottom: 20px;
    line-height: 22px;
  }

  .get-started-button {
    background-color: green;
    color: white;
    border: none;
    padding-top: 10px;
    padding-right: 16px;
    padding-bottom: 10px;
    padding-left: 16px;
    font-family: Verdana;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
  }