 /*Exercise 6c*/ p {
    font-family: Arial;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
  }

  .title {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 20px;
  }

  .sub-title {
    margin-bottom: 20px;
  }

  .body {
    color: rgb(58, 108, 199);
  }