p {
  font-family: Arial;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.text-box {
  background-color: rgb(33, 33, 33);
  width: 400px;
}

.title {
  color: white;
  font-weight: bold;
  font-size: 24px;
  padding-bottom: 0px;
}

.sub-title {
  color: rgb(160, 160, 160);
  width: 375px;
}