.card {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  width: 500px;
  border-radius: 10px;
}

.cat {
  height: 75px;
  width: 75px;
  object-fit: cover;
  border-radius: 37.5px;
  margin-right: 5px;
  vertical-align: middle;
}

.text-box {
  border: none;
  font-size: 20px;
  vertical-align: middle;
  width: 300px;
}

.tweet-button {
  background-color: rgb(29, 155, 240);
  color: white;
  border: none;
  font-size: 18px;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-left: 20px;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
  vertical-align: middle;
}