div {
  text-align: center;
}

.search-box {
  font-size: 16px;
  width: 500px;
  padding-top: 10px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 10px;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.google-logo {
  width: 200px;
  margin-left: 0px;
  margin-bottom: 10px;
}

.google-button {
  background-color: rgb(245, 245, 245);
  font-family: Arial;
  border: none;
  margin-top: 30px;
  font-size: 16px;
  padding-top: 10px;
  padding-right: 16px;
  padding-bottom: 10px;
  padding-left: 16px;
  cursor: pointer;
}

.search-button {
  margin-right: 10px;
}