.profile {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  width: 200px;
  margin-right: 10px;
  vertical-align: top;
}

.pet {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 12px;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Arial;
  margin-left: 10px;
}

.name {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
  margin-left: 10px;
}

.mutual-friends-row {
  display: grid;
  align-items: center;
  grid-template-columns: 35px 1fr;
  margin-left: 10px;
  margin-bottom: 10px;
}

.friend-picture {
  width: 25px;
  height: 25px;
  object-fit: cover;
  border-radius: 25px;
}

.mutual-friends {
  color: rgb(100, 100, 100);
  margin-left: -1px;
}

.add-friend-button {
  background-color: rgb(24, 119, 242);
  color: white;
  border: none;
  font-size: 16px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  border-radius: 4px;
  margin-left: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.profile-grid {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  column-gap: 20px;
}