.search-box {
  font-size: 16px;
  border-radius: 10px;
  border: solid;
  border-width: 1px;
  border-color: rgb(200, 200, 200);
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}