p {
 font-family: Arial;
 font-size: 16px;
 color: rgb(100, 100, 100);
 margin-top: 0px;
 margin-bottom: 0px;
}

.text-box {
  font-size: 16px;
  font-family: Arial;
  border: solid;
  border-color: rgb(100, 100, 100);
  border-width: 2px;
  border-radius: 5px;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 400px;
  margin-bottom: 15px;
}

.agree-button {
  margin-top: 20px;
  background-color: rgb(10, 102, 194);
  color: white;
  border: none;
  text-align: center;
  font-size: 20px;
  padding-top: 15px;
  padding-right: 150px;
  padding-bottom: 15px;
  padding-left: 150px;
  border-radius: 100px;
  cursor: pointer;
}
