.flexbox {
  display: flex;
  height: 50px;
}

.flexbox-1 {
  width: 100px;
  background-color: lightpink;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item1 {
  background-color: black;
  color: white;
}

.item2 {
  width: 200px;
  background-color: lightblue;
}