div {
  font-family: Arial;
}

.container {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 30px;
  padding-left: 15px;
  width: 400px;
}

.inboxes {
  color: rgb(120, 120, 120);
  font-size: 14px;
}

.email {
  display: flex;
  flex-direction: row;
  object-fit: cover;
  margin-top: 25px;
  align-items: center;
}

.profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.body {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  flex: 1;
}

.upper-part {
  display: flex;
  flex-direction: row;
  width: 325px;
  justify-content: space-between;
  margin-bottom: 5px;
  align-items: center;
}

.author {
  font-weight: bold;
  font-size: 20px;
}

.time {
  font-size: 14px;
  color: rgb(120, 120, 120);
}

.subject {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}

.message-preview {
  color: rgb(120, 120, 120);
}