@media (max-width: 1200px) {

.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  background-color: white;
  width: 72px;
  z-index: 200;
  padding-top: 5px;
}

.side-bar-link {
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.side-bar-link:hover {
  background-color: rgb(235, 235, 235);
}

.side-bar-link img {
  height: 24px;
  margin-bottom: 4px;
}

.side-bar-link div {
  font-size: 10px;
}

}


@media (min-width: 1200.1px) {

.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  background-color: white;
  width: 300px;
  z-index: 200;
  padding-top: 15px;
}

.side-bar-link {
  display: flex;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  padding: 10px 25px;
}

.side-bar-link:hover {
  background-color: rgb(235, 235, 235);
}

.side-bar-link img {
  height: 24px;
  margin-right: 25px;
}

.side-bar-link div {
  font-size: 14px;
}

}