.thumbnail {
  width: 100%;
}

.video-title {
  margin-top: 0px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
 }

.profile-picture {
  width: 36px;
  border-radius: 50px;
}

.profile-picture-container {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.profile-picture-tooltip {
  position: absolute;
  display: flex;
  background-color: white;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
  width: 200px;
  align-items: center;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  left: 0;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  z-index: 300;
}

.profile-picture-container:hover .profile-picture-tooltip {
  opacity: 1;
}

.tooltip-picture-container {
  margin-right: 10px;
}

.tooltip-picture {
  width: 50px;
  border-radius: 50px;
}

.tooltip-channel-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-picture-tooltip .tooltip-channel-name,
.profile-picture-tooltip .tooltip-subscribers {
  font-family: Roboto, Arial;
}

.tooltip-channel-name {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}

.tooltip-subscribers {
  font-size: 14px;
  color: rgb(96, 96, 96);
}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}

.video-author,
.video-stats {
   font-size: 12px;
   color: rgb(96, 96, 96);
}

.video-author {
  margin-bottom: 4px;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

@media (max-width: 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 751px) and (max-width: 1199px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .video-title {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: 1000px) {
  .video-author,
  .video-stats {
    font-size: 14px;
  }
}


@media (min-width: 1200px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/*I added this one as an extra*/
@media (max-width: 600px) {
  .video-grid {
    grid-template-columns: 1fr;
  }
}


.video-time {
  background-color: black;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 5px;
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  border-radius: 2px;
}

.video-link {
  text-decoration: none;
  color: black;
}